<!--
<script src="/views/assets/jquery/jquery.min.js"></script>
<script src="/views/assets/jquery-cookie/jquery.cookie.js"></script>
<script src="/views/assets/art-template/template-web.js"></script>
<script src="/views/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/views/assets/nprogress/nprogress.js"></script>
<script src="/views/assets/echarts/echarts.min.js"></script>
<script src="/views/js/common.js"></script>-->
<script src="/views/assets/requirejs/require.js"></script>
<script src="/views/js/config.js"></script>